.about-text{
    font-weight: 400;
    font-size: 15px;
    color: #000000b3;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}
.services{
    position: relative;
    margin-bottom: 80px;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 56px -8px #0000002b;
    padding: 2em;
}
.services i{
    position: absolute;
    top: 15px;
    left: 30px;
    font-size: 30px;
    color: rgb(168, 76, 184);
}
.services .icon1{
    color:#2c98f0;
}
.services .icon2{
    color: #ec5453;
}
.services .icon3{
    color: #f9bf3f;
}
.services .icon4{
    color: #a84cb8;
}
.color-1{
    border-bottom: 3px solid #2c98f0;
}
.color-2{
    border-bottom: 3px solid #ec5453;
}
.color-3{
    border-bottom: 3px solid #f9bf3f;
}
.color-4{
    border-bottom: 3px solid #a84cb8;
}
.services h3{
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}